.foto {
    background: #ffff;
    margin:0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

img{
    height: 200px;
    width: 359px;
    
}


body{
    background-color: #fff;
}


.descrizione,p{
    text-align: left;
    background-color: rgb(127, 194, 194);
}
.menu > h3{
    text-align: left;
    background-color: rgb(154, 234, 234);
}
